mark.blue {
  background-color: #93c4fd;
  color: #1e3a8a;
  border-radius: 4px;
  padding: 0 4px;
}

mark.green {
  background-color: #86efac;
  color: #14532d;
  border-radius: 4px;
  padding: 0 4px;
}